---
layout: markdown_page
title: "Product Kickoff Review"
---

- TOC
{:toc}

## Overview

The next GitLab release we are kicking off is 
<%= direction.keys[2] %> 
and this page contains the list of issues that are currently planned for that release. We present this during the monthly kickoff call, which is livestreamed publicly to the GitLab YouTube channel. 

In terms of meeting logistics, only presenters will be promoted to panelists so please use the “Raise my hand” feature if you are a presenter.
Please also use YouTube comments instead of Google Hangout or Zoom comments. During the meeting, Product Section leaders will present highlights from their respective areas. We will not cover each item in the list below, so feel free to click on any you're interested in and participate directly in the issue.

This page updates on the 22nd of each month to show the next release we will be kicking off.

## Dev Section

### Manage

Video: 

<%= direction[direction.keys[2]]["manage"] %>

### Plan

Video: 

<%= direction[direction.keys[2]]["plan"] %>

### Create

Video: 

<%= direction[direction.keys[2]]["create"] %>

## CI/CD Section

### Verify

Video: 

<%= direction[direction.keys[2]]["verify"] %>

### Package

Video: 

<%= direction[direction.keys[2]]["package"] %>

### Release

Video: 

<%= direction[direction.keys[2]]["release"] %>

## Ops Section

### Configure

Video: 

<%= direction[direction.keys[2]]["configure"] %>

### Monitor

Video: 

<%= direction[direction.keys[2]]["monitor"] %>

## Secure Section

### Secure

Video: 

<%= direction[direction.keys[2]]["secure"] %>

## Defend Section

### Defend

Video: 

<%= direction[direction.keys[2]]["defend"] %>

## Growth Section

### Growth

Video: 

<%= direction[direction.keys[2]]["growth"] %>

## Enablement Section

### Enablement

Video: 

<%= direction[direction.keys[2]]["enablement"] %>
